body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  text-align: center;
}

/* Start Page */
.start-bg {
  background: url("/images/Start game screen.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Quiz Page */
.quiz-bg {
  background: linear-gradient(135deg, #d20000 0%, #c3d272 100%) no-repeat center
    center fixed;
  background-size: cover;
}

.battleArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.heroSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemySide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character {
  width: 500px;
  height: 500px;
  display: block;
  margin: auto;
}

.healthBar {
  width: 500px;
  height: 50px;
  border: 2px solid #000;
  background-color: #363636;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.healthPoints {
  height: 100%;
  background-color: #2b9e08;
  width: 100%;
  transform: width 2s ease;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
}

.quiz-container {
  text-align: center;
  margin-top: 0px;
  width: 100%;
}

/* Questions naka #kasi specific tinawag id*/
#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#question-text {
  margin-bottom: 20px;
  font-size: 24px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  width: 300px;
  border-radius: 10px;
}
