<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BRRAD Quiz Game</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body class="start-bg">
    
    <div class="parentQuiz">

      <video autoplay loop muted plays-inline class="back-video">
        <source src="/images/broken-bridge-pixel-moewalls-com.mp4" type="video/mp4">
      </video>

      <div style="display: flex; flex-direction: row;">

        <button onclick="startGame()" style="align-self: center; border-radius: 40px; border: none; background: none; height: 80px; padding: 0; width: 255px;">
          <img src="/images/icons/Screenshot_2025-05-15_095635-removebg-preview.png" class="startButton">
        </button>
        
      </div>

    </div>

    <script>
      function startGame() {
        window.location.href = "quiz.html";
      }
    </script>
  </body>
</html>
